html body {
    background-color: #00FF37;
    margin: 100px;
    overflow: hidden;
}

.character {
    position: relative;
    top: 0px;
    height: 200px;
}

.volume-container {
    width: 300px;
    height: 30px;
    background-color: rgb(95, 95, 95);
}

.volume {
    height: 30px;
    background-color: #FFF;
}
