html body {
    background-color: #00FF37;
    margin: 100px;
    overflow: hidden;
}

.character {
    position: relative;
    top: 0px;
    max-height: 200px;
}

.volume-container {
    width: 300px;
    height: 30px;
    background-color: #F0F;
}

.volume {
    height: 30px;
    background-color: #0FF;
}
