<!DOCTYPE html>
<html>

<head>
  <title id="app-title">Bird Brain</title>
  <link rel="stylesheet" href="../styles/main.css">
  <script defer src="../app/index.js"></script>
</head>

<body>
  <button variant="contained" class="btn" onclick="showDevTools()">Show Dev Tools</button>
  <button variant="contained" class="btn" onclick="resetPigeon()">Reset Pigeon</button>
  <br><br>
  <div class="test-eyes"><div class="pupil"></div></div>
  <div id="eye2" class="test-eyes"><div class="pupil"></div></div>
  <img id="character" src="../images/pigeon1.png" />
  <img id="megaphone" src="../images/megaphone.png" />
  <div id="volume-container">
    <div id="volume"></div>
  </div>
  <div id="demo"></div>
  
</body>

</html>